<h1><%= @category.title %></h1>


<div class="container">
  <ul>

     <% @tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ul>


  <div class="container formnew">
    <%= simple_form_for [@category, @task] do |f| %>
    <%= f.input :name %>
    <%= f.input :start_date %>
    <br>
    <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
    <% end %>
  </div>

</div>




