<div class="container">
  <h1 class="my-3" style="color: white;"><strong><%= @category.title %></strong> </h1>
  <div class="row">
    <div class="container formnew my-4" style="color: #4A4A4A">
      <%= simple_form_for [@category, @task] do |f| %>
        <%= f.input :name, label: "What exactly? (put your task)" %>
        <%= f.input :start_date, as: :string, input_html:{id: 'calendar'} %>
        <br>
        <%= f.button :submit, 'OK', class:'btn btn-ghost', style:'background-color: white; border: transparent;' %>
      <% end %>
    </div>
  </div>

  <div class="row my-4">
  </div>

  <div class="row">
    <div class="mx-auto mt-5">
    <%= render 'shared/dice' %>
    </div>
  </div>
</div>




