<div class="container">

  <h1 class="my-3" style="color: white;"><strong>My Group Activities</strong></h1>

    <div class="grid m-3", style="display: grid;grid-template-columns: repeat(3, 1fr);grid-template-rows: repeat(<%= (@cellscount / 3).round %>, 1fr);grid-column-gap: 8px;grid-row-gap: 10px; border-color: transparent;">
      <% @users.each do |user| %>
        <% if user.photo.attached? %>
          <div data-id="<%= user.id %>"><%= cl_image_tag "#{user.photo.key}", size: "70x70", class: "rounded-circle m-3" %></div>
        <% end %>
      <% end %>
    </div>

    <% @actions.each do |action| %>
      <ul class="list-group list-group-flush m-2">

        <li class="list-group-item m-2" style="border-radius: 5px; opacity: 0.9;">
          <h5 style="color: #E46A2D"> <strong> <%= action.option.category.title.capitalize %></strong></h5>
          <p> <%= action.option.name.capitalize %> </p>
          <br>
            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 my-3">
              <%= link_to "Done !", action_path(action), method: :delete, data: { confirm: "Are you sure you have completed #{action.option.category.title.downcase} #{action.option.name} with your amazing group?" }, class:'btn-ghost'%>
            </div>
        </li>
      </ul>
    <% end %>

</div>
