  <p>
  <br>
    <div class="btn-group btn-group-toggle br-1">
   <label class="btn btn-ghost active">
      <input  type="radio" name="orientation" id="option1" value="horizontal" checked />
      horizontal
    </label>
    <label class="btn btn-ghost">
      <input type="radio" name="orientation" id="option2" value="vertical" />
      vertical
    </label>
    </div>
  </p>

<div class="scene">
  <div class="carousel infinitrot" data-usrs="<%= @options %>" data-ucount="<%= @cellscount %>" data-choice="<%= @choiceindex %>">
    <% @options.each do |option| %>
      <div class="carousel__cell">
        <div class="d-flex flex-column">
          <div style="line-height: 4vh;"><i class="fas fa-thumbtack" style="opacity: 0;"></i></div>
          <div class="nkn-tss" id='fittext<%= option.id %>' style="text-overflow: ellipsis; word-wrap: break-word;"><%= option.name %></div>
        </div>
        </div>
    <% end %>
  </div>
</div>
<h2 id="winner" style="display: none; color: white;"><strong style="color: #E46A2D;"><%= @action.option.name.capitalize %></strong> wins 🎊</h2>
<br>
<div class="carousel-options">
  <div id="launch" style="display: initial;">
    <button class="joker-button heartbeat btn btn-ghost" style="border: transparent;">GO !</button>
  </div>
  <br>
  <div class="mt-4" id="back" style="display: none;">
    <%= link_to 'Dashboard', categories_path, class: 'btn btn-ghost mr-5' %>
    <%= link_to 'Group Activities', actions_path, class: 'btn btn-ghost' %>
  </div>
</div>

<% @options.each do |option| %>
<script src="/fittext.js"></script>
  <script type="text/javascript">
    fitText(document.getElementById('fittext<%= option.id %>'), 1.2)
  </script>
  <% end %>
