<div class="container">

    <div class="row">

        <div class="height-100vh" style="width: 27em; align-content: space-around;">
          <%= image_tag @user.image, class:"avatar-large-bordered displayed mt-4" %>
          <div class="card-body text-center">
            <div class="card-profile p-3 ">
              <h5 class="d-inline card-title" style="color: #73bf8b;"> <strong> <%= "#{@user.first_name.capitalize}  #{@user.last_name.capitalize}" %></strong> </h5>
              <p class="card-title"> <%= @user.nickname%> </p>
            </div>
            <br>

            <div class="card-profile mb-2">
              <p class="card-body m-2">🏠  <br> <%= @user.group.name %> </p>
            </div>

            <div class="card-profile mb-2">
              <p class="card-body">📧 <br>  <%= @user.email %> </p>
            </div>

            <div class="card-profile mb-2">
              <p class="card-body">📞 <br>   <%= @user.phone_number %> </p>
            </div>

            <br>

              <%= link_to 'Edit', edit_user_path, class:'btn-ghost', style:'background-color: white;' %>
        </div>
    </div>

</div>
