<div class="container mt-2">

    <div class="row">

        <div class="card mt-3" style="width: 27em; align-content: space-around;">
          <%= image_tag @user.image, class:"avatar-large-bordered displayed mt-4" %>
          <div class="card-body text-center">
            <h5 class="d-inline card-title"><%= @user.first_name %> </h5>
            <h5 class="d-inline card-title"><%= @user.last_name %></h5>
            <br>
            <p class="card-text"><%= @user.nickname%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <%= @user.group.name %> </li>
            <li class="list-group-item"> <%= @user.email %> </li>
            <li class="list-group-item"> <%= @user.phone_number %> </li>
          </ul>
          <div class="card-body">
            <%= link_to 'Edit', edit_user_path, class:'btn-ghost' %>
          </div>
        </div>

    </div>

</div>
