
<div class="container">
  <h1 class="my-3" style="color: white;"><strong><%= @category.title.capitalize %></strong> </h1>

  <div class="row">
    <div class="col-12">
      <ul class="list-group list-group-flush m-2">
      <% @options.each do |option| %>
        <% if option.category == @category  %>

          <li class="list-group-item m-2 py-3" style="border-radius: 5px; opacity: 0.9;"><h5 class="mb-3" style="color: #E46A2D; text-overflow: ellipsis; word-wrap: break-word;"><strong><%= option.name.capitalize %></h5></strong>
            <div class="d-flex justify-content-between mx-5">

              <%= link_to option_path(option), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt mt-1" style="font-size: 20px; color: grey;"></i>
              <% end %>
              <% if option.selected.nil? %>

                <%= link_to '✔', option_path(option, option: {selected: true}), method: :patch, value: option, class:'btn-action', style:'background-color: green; color: white; font-size: 20px;' %>
              <% else %>

                <%= link_to '✔', option_path(option, option: {selected: nil}), method: :patch, value: option, class:'btn-action-o', style:'background-color: white; font-size: 20px;' %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <br>

  <div class="row ">
    <div class="col-md-6">
      <button type="button" class="btn-ghost mb-3" style= "border: transparent;" data-toggle="modal" data-target="#exampleModal">Add an option</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="color: #E46A2D" id="exampleModalLabel">Add an option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container formnew">
                <%= simple_form_for @option, url: category_options_path, method: :post do |f| %>
                <%= f.input :name %>
                <br>
                <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%= link_to "OK !", category_actions_path(@category), method: 'create', class:'btn btn-ghost ml-5', style:'font-size: 14px;'%>
  </div>
</div>
