<a href="#navigation" class="nav-trigger">
  <span></span>
</a>

<main>
  <section class="intro">
    <h1 style="margin-top: 30px;"> <%= link_to "Random Life", root_path %></h1>
  </section>
  <%= yield %>
</main>

<nav class="nav-container" id="navigation">
  <header>
    <h2>Menu</h2>
  </header>

  <ul class="nav">
    <% if current_user %>
      <li> <%= link_to "My Profile", user_path(current_user) %></li>
      <li> <%= link_to "My Tasks", user_assigned_tasks_path(current_user) %></li>
      <li> <%= link_to "Group Activities", actions_path %></li>
      <li> <%= link_to "Dashboard", categories_path %></li>
      <li> <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<div class="overlay"></div>
<!-- Improve main element 3d movement -->
