  <p>
  <br>
    <label>
      <input type="radio" name="orientation" value="horizontal" checked />
      horizontal
    </label>
    <label>
      <input type="radio" name="orientation" value="vertical" />
      vertical
    </label>
  </p>

<div class="scene">
  <div class="carousel infinitrot" data-usrs="<%= @users %>" data-ucount="<%= @cellscount %>" data-choice="<%= @choiceindex %>">
    <% @users.each do |user| %>
      <div class="carousel__cell">
        <div class="d-flex flex-column">
          <div class="img-avt <%= user.id %>">
            <%= default_photo_tag(user, size: "70x70", class: "avatar-large") %>
          </div>
          <div class="nkn-avt"><%= user.nickname %></div>
          <div class="nkn-tsk"><%= user.tasks.nil? ? '': (user.tasks.last.nil? || user.tasks.last.id == @task.id ? '' : "last task : #{user.tasks.last.name}") %></div>
        </div>
        </div>
    <% end %>
  </div>
</div>
<h2 id="winner" style="display: none; color: white;">The winner is <strong style="color: #E46A2D;"><%= @choice.nickname.capitalize %></strong>  🎉</h2>
<br>
<div class="carousel-options">
  <div id="launch" style="display: initial;">
    <button class="joker-button heartbeat btn btn-ghost" style="border: transparent;">GO !</button>
  </div>
  <div class="mt-3" id="back" style="display: none;">
    <%= link_to 'Back to Dashbord !', categories_path, class: 'btn btn-ghost', style: 'border: transparent;' %>
  </div>

</div>
