  <p>
  <br>
    <label>
      <input type="radio" name="orientation" value="horizontal" checked />
      horizontal
    </label>
    <label>
      <input type="radio" name="orientation" value="vertical" />
      vertical
    </label>
  </p>

<div class="scene">
  <div class="carousel" data-usrs="<%= @users %>" data-ucount="<%= @cellscount %>" data-choice="<%= @choiceindex %>">
    <% @users.each do |user| %>
      <div class="carousel__cell">
        <div class="d-flex flex-column">
          <div class="img-avt <%= user.id %>"><%= image_tag "#{user.image}", size: "70x70", class: "rounded-circle" %></div>
          <div class="nkn-avt"><%= user.nickname %></div>

        </div>
        </div>
    <% end %>
  </div>
</div>
<h2 id="winner" style="display: none; color: #4A4A4A;">The winner is <strong style="color: #E46A2D;"><%= @choice.nickname.capitalize %></strong> !!</h2>
<br>
<div class="carousel-options">
  <div id="launch" style="display: initial;">
    <button class="joker-button btn btn-ghost" style="background-color: white">GO !</button>
  </div>

</div>
