<div class="container mt-3 dflex" style="align-content: center;">

<ul class="list-inline tabs-underlined mb-3">
  <li>
    <%= link_to "Who?", categories_path, class:'nav-link' %>
  <li class="tab-underlined active">
    <%= link_to "What?", option_categories_path, class:'nav-link active' %>
  </li>
</ul>


  <div class="row ">
    <div class="col-md-6">
      <button type="button" class="btn-ghost mb-3" style="border: transparent;" data-toggle="modal" data-target="#exampleModal">Add category</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="color: #E46A2D;" id="exampleModalLabel"> Add a category </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container formnew">
                <%= simple_form_for @category, url: option_categories_path, method: :post do |f| %>
                <%= f.input :title %>
                <%= f.input :photo, as: :file %>
                <%= f.input :kind, input_html:{value: "Event"}, as: :hidden %>
                <br>
                <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
                <% end %>
              </div>
              </div>

            </div>
          </div>
        </div>


        <% @categories.each do |category| %>
          <% if category.kind == "Event"  %>
            <div class="card mb-3" style="border-radius: 5px;">
              <% if category.photo.attached? %>
                <%= image_tag category.photo, id:'img-card', style: 'object-fit: cover', height: 100 %>
              <% end %>
              <%= link_to category_options_path(category) do %>
                <div class="card-body p-0">
                  <h4 class="card-title pt-2" style="color: #E46A2D">
                    <strong> <%= category.title %> </strong>
                  </h4>
                  <% if category.options.any? %>
                    <p class='justify-content-center' style="color: #4A4A4A">
                      <i class="far fa-arrow-alt-circle-right mr-2"></i>
                      Last choice : <%= category.options.where(selected: true)[0].name %>
                    </p>
                  <% end %>
                  <%= link_to "x", category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class:'btn-action', style:'position: relative; top: -175px; left: 175px; background-color: white' %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




