<div class="container">
  <h1 class="my-3" style="color: white;"> <strong> My tasks</strong></h1>
  <div class="row">
    <div class="container formnew">
      <% @tasks.each do |task| %>
      <ul class="list-group list-group-flush m-2">
        <li class="list-group-item m-2">
          <% if task.progress == "pending" %>
            <h5 style="color: #E46A2D"> <strong> <%= task.category.title.capitalize %> </strong></h5>

            <p><%= task.name %> : <%= task.start_date %></p>
              <%= simple_form_for task, url: user_assigned_task_path(current_user, task), method: :patch, class:'d-inline' do |f| %>
                <%= f.input :progress, input_html:{value: "done"}, as: :hidden %>

                  <%= f.submit "Done !", class: "btn btn-ghost" %>

              <% end %>
          <% else %>
            <h5 class="card-title"><i class="far fa-check-circle mr-2" style="color: grey"></i><s style="color: grey"><%= task.name.capitalize %></s></h5>
            <%= link_to "x", user_assigned_task_path(current_user, task), method: :delete, data: { confirm: "Are you sure?" }, class:'btn-action'%>
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>



