<div class="container">
  <h1 class="my-3" style="color: white;">
    <strong> My tasks</strong>
  </h1>

  <% @tasks.each do |task| %>
    <% if task.progress == "pending" %>
      <div class="row">
        <div class="container formnew">
          <ul class="list-group list-group-flush m-2">
            <li class="list-group-item m-2">
                <h5 style="color: #E46A2D">
                  <strong> <%= task.category.title.capitalize %></strong>
                </h5>
                <p>
                  <%= task.name %> : <%= task.start_date %>
                </p>
                  <%= simple_form_for task, url: user_assigned_task_path(current_user, task), method: :patch, class:'d-inline' do |f| %>
                    <%= f.input :progress, input_html:{value: "done"}, as: :hidden %>
                      <%= f.submit "Done !", class: "btn btn-ghost"  %>
                  <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



