
<div class="container dflex" style="align-content: center;">
<ul class="list-inline tabs-underlined mb-3">
  <li class="tab-underlined active">
    <%= link_to "Tasks", categories_path %>
  <li>
    <%= link_to "Activities", option_categories_path %>
  </li>
</ul>

  <div class="row ">
    <div class="col-md-6">
      <button type="button" class="btn-ghost mb-3" style="border: transparent;" data-toggle="modal" data-target="#exampleModal">Add a task</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="color: #E46A2D;" id="exampleModalLabel">Add a task</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container formnew">
                <%= simple_form_for @category do |f| %>
                <%= f.input :title %>
                <label class="btn-ghost mb-3">
                  Add a picture!
                  <span style="display:none;">
                    <%= f.input :photo, as: :file %>
                  </span>
                </label>
                <%= f.input :kind, input_html:{value: "Task"}, as: :hidden %>
                <br>
                <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
                <% end %>
              </div>
              </div>

            </div>
          </div>
        </div>


        <% @categories.each do |category| %>
          <% if category.kind == "Task" %>
            <div class="card mb-3 card-anim" style="border-radius: 5px;">
              <% if category.photo.attached? %>
              <%= image_tag category.photo, id:"img-card", height: 100 %>
              <% end %>
                <h4 class="card-title mt-2" style="color: #E46A2D; background-color: white" >
                  <strong><%= category.title.capitalize %></strong>
                </h4>
                <div class="card-anim-body py-2">
                  <% if category.tasks.any? %>
                    <p class='justify-content-center' style="color: #4A4A4A">
                      <% if category.tasks.last.user.nil?  %>
                      <!-- <i class="far fa-arrow-alt-circle-right mr-2"></i> -->
                        <%= "" %>
                      <% else %>
                        Last task : <%= category.tasks.last.name %> by <%= category.tasks.last.user.nickname %>
                      <% end %>
                    </p>
                  <% end %>
                  <div class="d-flex justify-content-between mx-3">
                    <%= link_to category_path(category), method: :delete, data: { confirm: "Are you sure?" } do%>
                      <i class="fas fa-trash-alt mr-2 mb-2" style="font-size: 20px; color: grey;"></i>
                    <% end %>
                    <%= link_to "+", new_category_task_path(category), class:'btn-action', style:'font-size: 16px; background-color:#E46A2D; color: white; border-color: transparent;'%>
                  </div>

                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

