<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>

<div class="container formnew">
  <%= simple_form_for @category do |f| %>
  <%= f.input :title %>
  <%= f.input :kind %>
  <%= f.input :image, as: :file %>
  <br>
  <%= f.button :submit, 'Create' , class:'btn btn-ghost' %>
  <% end %>
</div>


  <%= link_to 'Dashboard', categories_path, class: 'btn btn-ghost'%>


